@font-face {
  font-family: lite;
  src: url(./fonts/Sausage.ttf);
}
@property --color1 {
  syntax: "<color>";
  inherits: true;
  initial-value: #f78812;
}
@property --color2 {
  syntax: "<color>";
  inherits: true;
  initial-value: #51050f;
}
:root {
  /* color */
  --red: #e02401;
  --lorange: #f78812;
  --dorange: #ab6d23;
  --brown: #51050f;
  --black: #210004;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  resize: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

button {
  --color1: #f78812;
  --color2: #51050f;
  cursor: pointer;
  height: 40px;
  padding: 0 24px;
  font-family: lite;
  color: white;
  border: none;
  background: linear-gradient(var(--color1), var(--color2));
  margin-left: 10px;
  outline: none;
  border-radius: 10px;
  transition: --color1 0.3s, --color2 0.3s 0.5s;
}
button:hover {
  --color2: #f78812;
  --color1: #51050f;
}

#root {
  min-height: 100vh;
}